name: second-workflow
on: push
    # workflow_dispatch:
concurrency: 
    group: dev-deployment
    cancel-in-progress: true
env:
    DOCKER_USERNAME: "nooli"
jobs:
    first-job:
        runs-on: ubuntu-latest
        steps:
        -   name: First Job
            run: echo "Welcome"
        -   name: Clone repo
            uses: actions/checkout@main
        -   name: Run script
            run: |
                ./print-num.sh
                touch test.txt
                echo "This is a test file" > test.txt
        -   name: Upload Artifact
            uses: actions/upload-artifact@v4
            with:
                name: test-file
                path: test.txt
    second-job:
        needs: first-job
        runs-on: ubuntu-latest
        steps:
        -   name: Second Job
            run: echo "Second Job"
        -   name: Download Artifact
            uses: actions/download-artifact@v4
            with:
                name: test-file
        -   name: write test file
            run : | 
                ls
                cat test.txt
    third-job:
        needs: second-job
        runs-on: ubuntu-latest
        steps:
        -   name: Third job
            run: echo "Third Job"
        -   name: Download Artifact
            uses: actions/download-artifact@v4
            with:
                name: test-file
        -   name: Read test file
            run: cat test.txt
    build-image:
        timeout-minutes: 2
        runs-on: ubuntu-latest
        steps:
        -   name: Docker version
            run: docker --version
        -   name: Docker Login
            run: |  
                echo docker login  --username=${{ env.DOCKER_USERNAME }} --password=${{ secrets.DOCKER_PASSWORD}}
                echo ${{ vars.CONTAINER_REGISTRY }}
                sleep 6000
